.App {
  font-family: sans-serif;
  text-align: center;
}
header {
  background-color: #0c72d8;
  color: #fff;
  margin: -14px;
  padding: 1rem 20px 100px;
  font-weight: 700;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
h2#one {
  color: rgb(247, 247, 247);
  font-size: 35px;
  font-weight: bold;
}

h3#two {
  position: absolute;
  left: 50px;
  color: purple;
  top: 0px;
  font-size: 25px;
  font-weight: bolder;
}
input#tree {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
  border-radius: 5px;
  float: right;
  width: 20%;
  padding: 10px;
  background: #2196f3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}
.btn {
  color: rgb(253, 253, 253);
  background-color: #0a44ff;
}
.AlertBanner {
  font-weight: bold;
  padding: 5px;
  background-color: rgb(60, 131, 211);
  color: rgb(129, 21, 21);
  top: 0;
  right: 0;
  left: 0;
}
